.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    background-image: url("../../imagenes/scanlines.png");
    background-blend-mode: multiply;
    background-size: contain;
}

.name {
    font-size: 30px;
}

.imgContainer {
    position: relative;
    width: 40vw;
    height: 100vh;
    overflow: hidden;
}

.imagen {
    position: absolute;
    top: 120px;
    left: 0;
    width: 40vw;
    height: 60vh;
    object-fit: cover;
border: 10px outset  var(--background);
}

.scanlines {
    position: absolute;
    top: 120px;
    left: 0;
    width: 40vw;
    height: 60vh;
    opacity: .8;
}
.texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 40vw;
}
.text{
    text-align: left;
}