@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:root {
  --titulos: 'Press Start 2P', cursive;
  --parrafos: 'VT323', monospace;
  --background: #D3CDBE;
  --verde: #8F8100;
  --marron: #A5511A;
  --naranja1:#5d473d;
  --naranja2:#7D7D7D;
  --blanco: #f1f1f1;
  --negro: #1e1e1e;
}
/* :root {
  --titulos: 'Press Start 2P', cursive;
  --parrafos: 'VT323', monospace;
  --background: #F5B35D;
  --verde: #8F8100;
  --marron: #A5511A;
  --naranja1:#F5A30A;
  --naranja2:#FF9D00;
  --blanco: #dfdfdf;
  --negro: #1e1e1e;
} */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--parrafos);
  font-size: 25px;
  background-color: var(--naranja1);
}

h1{
  font-family: var(--titulos);
  font-size: 80px;
  color: var(--negro);
}
h2{
  font-family: var(--titulos);
  font-size: 25px;
  color: var(--negro);
}
h3{
  font-family: var(--titulos);
  font-size: 17px;
  color: var(--negro);
}
p{
  font-family: var(--parrafos);
  color:var(--blanco) ;
}
label{
  font-family: var(--parrafos);
  color:var(--blanco) ;
}
